*{padding: 0;
    margin: 0;
    font-family: sans-serif;}
    
    html,
    body {
      height: 100%;
      margin: 0;
      font-size: 25px;
      font-weight: 400;
      line-height: 1.8em;
      color:black;
      scroll-behavior: smooth;
      font-family: 'Anuphan', sans-serif;
    }
    
    footer .container{
      display: flex;
        justify-content: center;
        height: 5vh;
        align-items: center;
        size: 4px;
        color: white;
    }
    footer i{
      color: white;
      padding: 12px;
      margin: 10px 0 0 0;
    }
    footer i:hover{
      opacity: 0.75;
    }
    
    section .ptextk1 .scroll-down{
        height: 40px;
        width: 25px;
        border: 2px solid white;
        position: absolute;
        left: 50%;
        bottom: 20px;
        top: 50vh;
        border-radius: 50px;
        cursor: pointer;
    }
    section .ptextk1 .scroll-down::before,
    section .ptextk1 .scroll-down::after {
        content: '';
        position: absolute;
        top: 20%;
        left: 50%;
        border: 2px solid white;
        height: 8px;
        width: 8px;
        transform: translate(-50%,-100%)rotate(45deg);
        border-top: transparent;
        border-left: transparent;
        animation: scroll-down 1s ease-in-out infinite;
    }
    section .ptextk1.scroll-down::after{
        top: 30%;
        animation-delay: .5s;
    }


    h1 {
        font-weight: normal;
        font-size: 38px;
        position: relative;
        margin: 40px 0;
      }
      
      h1::before {
        content: '';
        position: absolute;
        width: 220px;
        height: 3px;
        background-color: greenyellow;
        bottom: -10px;
        left: 50%;
        transform: translate(-50%);
        animation: animate 6s linear infinite;
      }


      
@keyframes scroll-down{
    0%{opacity: 0;}
    30%{opacity: 1;}
    60%{opacity: 1;}
    100%{opacity: 0;
    top: 90%;}
  }
    
    
    @keyframes animate {
      0% {
          width: 120px;
      }
    
      50% {
          width: 220px;
      }
    
      100% {
          width: 120px;
      }
    }
    
    .pimg1 {
      background-image: url(images/img137.jpg);
      min-height: 100%;
    }
    .pimg2 {
      background-image: url(images/img144.jpg);
      min-height: 600px;
    }
    .pimg1,
    .pimg2 {
      position: relative;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
    
    
    .ptextk1,
    .ptextk2
    {position: absolute;
      top: 50%;
     left: 50%;
      text-align: center;
      color: black;
      font-size: 25px;
      letter-spacing: 8px;
      text-transform: uppercase;
      text-align: center;
     transform: translate(-50%,-50%);
    }
    
    .ptextf {
      color: #fff;
      top: 50%;
      bottom: 50%;
    }
    
    .ptextff {
      color: #d2d8d9;
      top: 50%;
      bottom: 50%;
      font-weight: 600;
    }
    
    
.bg-dark-1{
  display: flex;
  justify-content: center;
  color: white;
  background-color: black;
  cursor: pointer;
}

    

.about{
  width: 100%;
  height: 600px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .content img{
  height: 420px;
width: 330px;
max-width: 100%;
margin-bottom: 20px;
}
.text{
  width: 550px;
  max-width: 100%;
  padding: 0 10px;
}
.content{
  width: 1250px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.text h2{
  color: rgb(255, 255, 255);
  font-size: 65px;
  margin-bottom: 50px;
  text-transform: capitalize;
}
.text p{
  color: rgb(214, 214, 214);
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 1.5px;
  margin-bottom: 45px;
}


@media screen and (max-width:1000px){
  .about{width: 100%;
  height: auto;
padding: 70px 0px;}

.ptextf {
  font-size: 25px;
  color: #ffffff;
  top: 50%;
  bottom: 50%;
}

.ptextff {
  color: #9ca0a1;
  top: 50%;
  bottom: 50%;
}
.pimg1 {
  background-image: url(images/img74.jpg);
  min-height: 100%;
}
.pimg2 {
  background-image: url(images/img141.jpeg);
  min-height: 600px;
}
}

@media screen and (max-width:400px) {
.about .content img{margin-bottom: 35px;}
.text h1{
  font-size: 60px;
  margin-bottom: 25px;
}
#sec-1 .ptextf{font-size: 22px;}
footer .textcenter{font-size: 15px;}
}

@media screen and (max-width:350px){
  #sec-1 .ptextf{font-size: 20px;}
  footer .textcenter{font-size: 12px;}
}



#progress {
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 50px;
  width: 50px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#progress-value {
  display: block;
  height: calc(100%-45px);
  width: calc(100%-45px);
  background-color:white;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 28px;
  color: rgb(0, 0, 0);
}


    








    